* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body {
    background: linear-gradient(to right, #ffffff, #FA0900);
    color: #0000;
    /*display: flex;
    flex-direction: column;
    /*margin: 0;*/
    /*min-height: 100vh;
    /*font: Inter;  */
    
} 

header{
    color: #000;
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: relative;  */
} 

/*.logo {
    width: 100%;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px; 
}*/
/*header img*/
header .logo {
    
    position: absolute;
    left: 2px;
   /* top: 0; */
} 
header h1 {
    margin: 0;
    /*margin: 20px 0 0 0;*/
    font-size: 1.5cm;
    text-align: center;
    flex-grow: 1;
    
}


main {
    color: #000;
    /*position: absolute;
    width: 100%;
    height: 90%;*/
    display: flex;
    /*justify-content: flex-end;*/
    justify-content: space-between;
    /*flex: 2;*/
    padding: 20px;
    gap: 20px;
    /*box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;*/
    align-items: flex-start; 
}

.entrada, .salida {
    background-color: #ffff;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textarea-container {
    /*position: absolute;
    left: 200px;
    top: 100px;
    padding-left: 100px;*/
    width: 100px;
    /*height: 600px;*/

}

.text-box {
    width: 100%;
    height: 150px;
    border: none;
    background-color: #f4f4fc;
    /*cursor: pointer;*/
    padding: 10px;
    color: #0a3871;
    font-size: 16px;
    /*font-size: 32px;*/
    /*font-weight: 400;
    font-family: 'inter', sans-serif;*/
    border-radius: 5px;
    resize: none;
}


.text-box::placeholder {
    color: #0a3871;
}

.alert {
    /*position: absolute;
    top: 750px;
    left: 370px;*/
    display: flex;
    color: #495057;
    align-items: center;
}

.buttons-container {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    /*position: absolute;
    top: 800px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px;*/
}

.btn-encriptar, .btn-desencriptar, .btn-copy {
    width: 40%;
    height: 50px;
    border-radius: 24px;
    background-color: #000;
    color: #f4f4f4;
    font-size: 16px;
    border: 2px solid #000;
    cursor: pointer;
}

/*.btn-encriptar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #000;
    color: #f4f4fc;
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter', sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;
} */

.salida .image-container {
    /*width: 45%;
    background-color: #ffff;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
    box-sizing: border-box;*/
    text-align: center;
}

/*.section-salida {
    display: block;
    position: relative;
    width: 400px;
    height: 940px;
    right: 400px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
} */

/*.image-container {
    position: absolute;
    left: 30px;
    top: 180px;
    box-sizing: border-box;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 20px;
} */

.salida .text-container {
    /* position: absolute;
    box-sizing: border-box;
    top: 570px;
    left: 40px;*/
    text-align: center;
    /*margin-bottom: 20px;*/
}

.salida .text-container h3 {
    font-size: 24px;
    font-weight: 700;
    /*font-family: 'inter', sans-serif;
    text-align: center;*/
    color: #343a40;
}

.salida .text-container p {
    /*font-family: 'inter', sans-serif;
    font-weight: 400;*/
    font-size: 16px;
    /*text-align: center;*/
    color: #495057;
    /*padding-top: 20px;*/
} 

.resultado-container {
   /* position: absolute;
    bottom: 410px;
    width: 320px;
    height: 450px;
    box-sizing: border-box;
    margin-left: 25px;*/
    text-align: center;
    /*margin-bottom: 20px;*/
}

.text-resultado {
    color: #495057;
    font-size: 25px;
} 

/*.copy-container {
    display: flex;
    position: absolute;
    bottom: 400px;
    padding-left: 40px;
    background-color: aqua;
    text-align: center;
    margin-bottom: 20px;
}*/

/*.btn-copy {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter', sans-serif;
    border: 1px solid #000;
    cursor: pointer;
    position: relative;
    top: 100px;
    right: 4px;
}*/


/*section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
} */

/*section.reptangulo {
    width: 400px;
    height: 1200px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 32px;
    padding: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #000;
    border-radius: 5px;
}

p {
    margin: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #ffffff;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
} */


footer{
    /*color: #000;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;*/
    text-align: center;
    padding:  10px 0;
}

footer a{
    margin: 0 10px;
    color: #000;
    text-decoration: none;
}
